extends ../intercessor-layout

mixin f(id, type, text, desc)
  .form-group
    label.control-label.col-sm-4(for=id)= text
    .controls.col-sm-8
      input.form-control(id=id, type=type, data-content=desc)

block content
  .readable
    p.
      Are you sick of people who save screenshots as PNG images thereby making
      text too easy to read? This tool solves that problem by allowing you to
      enrich images with as many JPEG artefacts as you like.

    form.form-horizontal
      +f('file', 'file', 'Select image', 'Select image')
      +f('quality', 'text', 'Quality', 'JPEG image quality (lower is better).')
      +f('repetitions', 'text', 'Repetitions', 'Number of times to repeat the saving process.')
      +f('shakiness', 'text', 'Shakiness', 'By how many pixels to shake the image. This is necessary to bring out the artefacts.')
      .form-group
        .col-sm-8.col-sm-offset-4
          button.btn.btn-info#enrich(type='button')
            span.glyphicon.glyphicon-ok
            span.text  Enrich

  #original-image-container
    img#original-image(src=app.paths.static + '/image.png', alt='')
